@charset "UTF-8";
@import url("/themes/custom/cadetech_theme/assets/fonts/fonts.css");
:root {
  --primary-color: #3FA9F5;
  --text-color-light: #FFFFFF;
  --text-color-dark: #000000;
  --background-color-light: #FFFFFF;
  --background-color-dark: #1A1A1A;
  --font-family-primary: "Barnaul Grotesk", sans-serif;
  --font-family-secondary: "Good Times", sans-serif;
  --font-family-tertiary: "Seldom Scene", sans-serif;
  --layout-page-x-padding: 64px;
}
@media (max-width: 1764px) {
  :root {
    --layout-page-x-padding: 16px;
  }
}

.layout-page-x-padding, .footer, .region--content, .region--bottom-header, .region--front-header, .region--featured, .top-header {
  padding-left: var(--layout-page-x-padding);
  padding-right: var(--layout-page-x-padding);
}

.layout-page-width, .footer, .region--content, .region--bottom-header, .region--front-header, .region--featured, .top-header {
  max-width: 1764px;
  margin: 0 auto;
}

.text-primary {
  color: var(--primary-color);
}

.text-heading-1, h1.page-title {
  font-size: 48px;
}
@media (max-width: 1024px) {
  .text-heading-1, h1.page-title {
    font-size: 32px;
  }
}
@media (max-width: 640px) {
  .text-heading-1, h1.page-title {
    font-size: 24px;
  }
}

.text-heading-2, .view-napravleniya-deyatelnosti .views-field-title, .front-header-features-2__title, .front-header-company__title, .isafe-banner p, .block__title {
  font-size: 30px;
}
@media (max-width: 1024px) {
  .text-heading-2, .view-napravleniya-deyatelnosti .views-field-title, .front-header-features-2__title, .front-header-company__title, .isafe-banner p, .block__title {
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  .text-heading-2, .view-napravleniya-deyatelnosti .views-field-title, .front-header-features-2__title, .front-header-company__title, .isafe-banner p, .block__title {
    font-size: 18px;
  }
}

.text-button-1 {
  font-size: 24px;
}
@media (max-width: 1024px) {
  .text-button-1 {
    font-size: 18px;
  }
}
@media (max-width: 640px) {
  .text-button-1 {
    font-size: 14px;
  }
}

.text-button-2, .ru-en-switch, #block-cadetech-theme-mainmenu a {
  font-size: 18px;
}
@media (max-width: 1024px) {
  .text-button-2, .ru-en-switch, #block-cadetech-theme-mainmenu a {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .text-button-2, .ru-en-switch, #block-cadetech-theme-mainmenu a {
    font-size: 12px;
  }
}

.text-body-1, .front-header-features-2__description, body,
.text-content {
  font-size: 24px;
}
@media (max-width: 1024px) {
  .text-body-1, .front-header-features-2__description, body,
.text-content {
    font-size: 18px;
  }
}
@media (max-width: 640px) {
  .text-body-1, .front-header-features-2__description, body,
.text-content {
    font-size: 14px;
  }
}

.text-caption-1, .footer-content__copyright, .view-napravleniya-deyatelnosti .views-field-body::after, .view-napravleniya-deyatelnosti .views-field-field-opisanie-v-vide-punktov::after, .front-team__member-position, .front-header-features-3__description-list, .front-header-features__feature, .front-header-company__text {
  font-size: 20px;
}
@media (max-width: 1024px) {
  .text-caption-1, .footer-content__copyright, .view-napravleniya-deyatelnosti .views-field-body::after, .view-napravleniya-deyatelnosti .views-field-field-opisanie-v-vide-punktov::after, .front-team__member-position, .front-header-features-3__description-list, .front-header-features__feature, .front-header-company__text {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .text-caption-1, .footer-content__copyright, .view-napravleniya-deyatelnosti .views-field-body::after, .view-napravleniya-deyatelnosti .views-field-field-opisanie-v-vide-punktov::after, .front-team__member-position, .front-header-features-3__description-list, .front-header-features__feature, .front-header-company__text {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body,
.text-content {
  font-family: var(--font-family-primary);
  line-height: normal;
}

.text-content {
  color: inherit;
}

.text-content p {
  margin-block-start: auto;
  margin-block-end: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: normal;
}

.region > * {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit !important;
}

button {
  cursor: pointer;
}

.text-content a:where(:not(.button)):hover, .cke_editable a:where(:not(.button)):hover {
  box-shadow: unset;
  color: inherit;
  text-decoration-color: inherit;
}

.text-content a:where(:not(.button)), .cke_editable a:where(:not(.button)) {
  box-shadow: unset;
  color: inherit;
}

.view-frontpage {
  display: none;
}

#toolbar-item-administration-tray {
  color: black;
}

h1.page-title {
  color: var(--text-color-dark);
}

.block__title {
  color: var(--text-color-dark);
}

.common-button--light {
  border: 3px solid var(--text-color-light);
  border-radius: 40px;
  text-decoration: none;
  background-color: transparent;
  padding: 16px 50px;
  color: var(--text-color-light);
  font-family: var(--font-family-tertiary);
}
.common-button--light:hover {
  text-decoration: underline;
}

.common-content-block__header {
  text-align: center;
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .common-content-block__header {
    margin-bottom: 40px;
  }
}

.common-content-block__header h2 {
  font-family: var(--font-family-tertiary);
}

.header {
  background-color: var(--background-color-dark);
  background-image: url(/themes/custom/cadetech_theme/assets/images/background1.png);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  color: var(--text-color-light);
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .header {
    padding-bottom: 40px;
  }
}

.top-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "region-branding region-navigation region-search";
  gap: 20px;
  justify-items: center;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .top-header {
    grid-template-columns: auto 1fr;
    grid-template-areas: "region-branding region-search" "region-navigation region-navigation";
  }
}

.region--branding {
  grid-area: region-branding;
}

.region--navigation {
  grid-area: region-navigation;
}

.region--search {
  grid-area: region-search;
}

#block-cadetech-theme-mainmenu ul:not(.contextual-links) {
  display: flex;
  gap: 40px;
  row-gap: 16px;
  list-style-type: none;
  align-items: center;
  height: 64px;
  flex-wrap: wrap;
}
@media (max-width: 1400px) {
  #block-cadetech-theme-mainmenu ul:not(.contextual-links) {
    max-width: 470px;
  }
}

#block-cadetech-theme-mainmenu a {
  font-family: var(--font-family-secondary);
  color: #FFF;
  line-height: normal;
  position: relative;
  white-space: nowrap;
}

.contextual-links {
  color: black;
}

#block-cadetech-theme-mainmenu a:hover {
  text-decoration: underline;
}

#block-cadetech-theme-mainmenu a.is-active::after {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  bottom: -5px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
}

.region--search div {
  height: 100%;
}

.ru-en-switch {
  display: flex;
  align-items: center;
}

.ru-en-switch a {
  font-family: var(--font-family-secondary);
  position: relative;
}

.region--featured {
  display: flex;
  justify-content: space-between;
  margin-top: 147px;
  gap: 20px;
}
@media (max-width: 768px) {
  .region--featured {
    flex-direction: column-reverse;
    margin-top: 72px;
  }
}

.region--front-header {
  display: flex;
  gap: 85px;
  margin-top: 120px;
}
@media (max-width: 768px) {
  .region--front-header {
    flex-direction: column;
    margin-top: 62px;
    gap: 10px;
  }
}

.front-header-text {
  font-family: var(--font-family-tertiary);
  max-width: 1032px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.isafe-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .isafe-banner {
    margin-top: 20px;
  }
}

.isafe-banner img {
  max-width: 190px;
}

.isafe-banner p {
  font-family: var(--font-family-secondary);
  text-align: center;
  margin-top: 16px;
}

.front-header-company {
  max-width: 520px;
  font-family: var(--font-family-primary);
  font-weight: bold;
}

.front-header-company__title {
  padding-bottom: 10px;
  border-bottom: 3px solid var(--text-color-light);
  margin-bottom: 6px;
}

.front-header-company__text {
  text-align: justify;
  margin-top: 0px;
}

.front-header-company__button {
  margin-top: 56px;
}

.front-header-features {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  column-gap: 70px;
  flex-wrap: wrap;
  height: 150px;
  font-weight: bold;
  margin-top: 35px;
}
@media (max-width: 1280px) {
  .front-header-features {
    height: auto;
  }
}

.front-header-features__feature {
  display: flex;
  gap: 14px;
}

.region--bottom-header {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media (max-width: 768px) {
  .region--bottom-header {
    margin-top: 40px;
    gap: 60px;
  }
}

.front-header-features-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.front-header-features-2__feature {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  min-width: 160px;
}
@media (max-width: 768px) {
  .front-header-features-2__feature {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.front-header-features-2__title {
  font-weight: bold;
}

.front-header-features-3 {
  display: flex;
  gap: 72px;
  align-items: flex-start;
}
@media (max-width: 640px) {
  .front-header-features-3 {
    flex-direction: column;
  }
}

.front-header-features-3__feature {
  display: flex;
  flex: 1 0 0;
  gap: 40px;
}

.front-header-features-3__description-list {
  margin-top: 16px;
}

.front-header-features-3__feature:nth-child(1) {
  flex-direction: column-reverse;
  text-align: right;
  align-items: flex-end;
}
@media (max-width: 640px) {
  .front-header-features-3__feature:nth-child(1) {
    flex-direction: column;
    text-align: left;
    align-items: center;
  }
}

.front-header-features-3__feature:nth-child(1) img {
  max-width: 95px;
}
@media (max-width: 640px) {
  .front-header-features-3__feature:nth-child(1) img {
    max-width: 72px;
  }
}

.front-header-features-3__feature:nth-child(2) {
  flex-direction: column;
  text-align: left;
}
@media (max-width: 640px) {
  .front-header-features-3__feature:nth-child(2) {
    align-items: center;
  }
}

.front-header-features-3__feature:nth-child(2) img {
  max-width: 72px;
}
@media (max-width: 640px) {
  .front-header-features-3__feature:nth-child(2) img {
    max-width: 48px;
  }
}

.region--content {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media (max-width: 768px) {
  .region--content {
    gap: 40px;
  }
}

section.main {
  padding-top: 72px;
  background: linear-gradient(180deg, var(--background-color-dark) 0%, var(--background-color-light) 50px);
}

.front-action-areas {
  margin-bottom: 20px;
}
@media (max-width: 640px) {
  .front-action-areas {
    margin-bottom: 5px;
  }
}

.front-action-areas__areas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 80px;
  column-gap: 24px;
}
@media (max-width: 1024px) {
  .front-action-areas__areas {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .front-action-areas__areas {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}

.front-action-areas__area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 640px) {
  .front-action-areas__area img {
    max-width: 75px;
  }
}

.front-action-areas__area:hover img {
  filter: invert(1);
}

.front-action-areas__area:hover a {
  text-decoration: underline;
}

.front-action-areas__area-title {
  font-weight: bold;
}
@media (max-width: 640px) {
  .front-action-areas__area-title {
    max-width: 160px;
  }
}

.front-advantages {
  margin-bottom: 20px;
}
@media (max-width: 640px) {
  .front-advantages {
    margin-bottom: 5px;
  }
}

.front-advantages__content {
  text-align: center;
}

.front-advantages__content img {
  display: inline;
}

.front-team__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.front-team__member {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  min-width: 170px;
}
@media (max-width: 640px) {
  .front-team__member {
    max-width: 200px;
    gap: 10px;
  }
}

@media (max-width: 640px) {
  .front-team__member img {
    max-width: 75px;
  }
}

.front-team__member-name {
  font-weight: bold;
}

.front-team__footer {
  text-align: center;
}

.front-team__footer img {
  display: inline;
  max-width: 350px;
}
@media (max-width: 640px) {
  .front-team__footer img {
    max-width: 200px;
  }
}

.field--name-field-ves-sortirovki {
  display: none;
}

.partners-page__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}
@media (max-width: 768px) {
  .partners-page__content {
    flex-direction: column;
  }
}

.partners-page__content p {
  margin-bottom: 20px;
}

.partners-page__image {
  flex-shrink: 0;
}
@media (max-width: 1280px) {
  .partners-page__image {
    max-width: 350px;
  }
}

.partners-page__partner::after {
  display: block;
  content: "";
  width: 200px;
  height: 2px;
  background-color: var(--background-color-dark);
  margin-top: 35px;
}

.block-views-blockklyuchevye-postavschiki-block-1 {
  margin-bottom: 40px;
}

.block-views-blockklyuchevye-postavschiki-block-1 .view-content {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}
@media (max-width: 640px) {
  .block-views-blockklyuchevye-postavschiki-block-1 .view-content {
    justify-content: space-between;
  }
}
.block-views-blockklyuchevye-postavschiki-block-1 .view-content .views-row {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}

.view-napravleniya-deyatelnosti {
  margin-bottom: 40px;
}
@media (max-width: 640px) {
  .view-napravleniya-deyatelnosti {
    margin-bottom: 20px;
  }
}

.view-napravleniya-deyatelnosti .view-content {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media (max-width: 640px) {
  .view-napravleniya-deyatelnosti .view-content {
    gap: 36px;
  }
}

.view-napravleniya-deyatelnosti ul,
.node--type-proekt ul {
  margin-left: 0;
}

.view-napravleniya-deyatelnosti ul li,
.node--type-proekt ul li {
  list-style: none;
  background-image: url(/themes/custom/cadetech_theme/assets/images/icons/mark_icon.png);
  background-repeat: no-repeat;
  background-position: 0 5px;
  background-size: 18px 14px;
  padding-left: 28px;
}
@media (max-width: 640px) {
  .view-napravleniya-deyatelnosti ul li,
.node--type-proekt ul li {
    background-size: 12px 9px;
    padding-left: 20px;
  }
}

.view-napravleniya-deyatelnosti .views-row {
  display: grid;
  grid-template-areas: "title image" "description image";
  grid-template-columns: 1fr 1fr;
  column-gap: 36px;
  row-gap: 16px;
  cursor: pointer;
}
@media (max-width: 640px) {
  .view-napravleniya-deyatelnosti .views-row {
    grid-template-areas: "title" "image" "description";
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.view-napravleniya-deyatelnosti .views-field-title {
  font-weight: bold;
  grid-area: title;
  pointer-events: none;
}

.view-napravleniya-deyatelnosti .views-field-field-image {
  grid-area: image;
  max-width: 350px;
  filter: grayscale(1);
  transition: filter 0.3s ease;
}
@media (max-width: 640px) {
  .view-napravleniya-deyatelnosti .views-field-field-image {
    max-width: 100%;
  }
}

.view-napravleniya-deyatelnosti .views-row:hover .views-field-field-image {
  filter: grayscale(0);
}

.view-napravleniya-deyatelnosti .views-field-field-opisanie-v-vide-punktov {
  grid-area: description;
}

.view-napravleniya-deyatelnosti .views-field-field-opisanie-v-vide-punktov::after {
  content: "[нажмите чтобы узнать больше]";
  font-style: italic;
}

.view-napravleniya-deyatelnosti .views-field-body {
  grid-area: description;
  display: none;
}

.view-napravleniya-deyatelnosti .views-field-body::after {
  content: "[нажмите чтобы скрыть описание]";
  display: block;
  margin-top: 16px;
  font-style: italic;
}

.view-napravleniya-deyatelnosti .views-row.more .views-field-field-opisanie-v-vide-punktov {
  display: none;
}

.view-napravleniya-deyatelnosti .views-row.more .views-field-body {
  display: block;
  padding-bottom: 16px;
}

.view-napravleniya-deyatelnosti .views-field-field-opisanie-v-vide-punktov,
.view-napravleniya-deyatelnosti .views-field-body {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--text-color-dark);
}

.view-proekty {
  margin-top: -50px;
  margin-bottom: 50px;
}
@media (max-width: 640px) {
  .view-proekty {
    margin-top: -40px;
    margin-bottom: 30px;
  }
}

.view-proekty .view-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .view-proekty .view-content {
    justify-content: space-around;
  }
}

.view-proekty .views-row {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  align-items: center;
}

.view-proekty .views-field-title:hover + .views-field-field-logo,
.view-proekty .views-field-field-logo:hover {
  filter: saturate(5);
}

.view-proekty .views-field-field-logo {
  max-width: 60px;
}
@media (max-width: 640px) {
  .view-proekty .views-field-field-logo {
    max-width: 48px;
  }
}

.view-proekty .views-field-title {
  font-weight: bold;
  text-align: center;
  max-width: 250px;
}
@media (max-width: 640px) {
  .view-proekty .views-field-title {
    max-width: 160px;
  }
}

.node--type-proekt p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.node--type-proekt img {
  max-width: 930px;
}
@media (max-width: 1024px) {
  .node--type-proekt img {
    max-width: 100%;
  }
}

.node--type-proekt .field--name-field-logo {
  display: none;
}

.node--type-proekt .field--name-field-prezentaciya .field__label {
  display: none;
}

.node--type-proekt .field--name-field-prezentaciya a::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(/themes/custom/cadetech_theme/assets/images/icons/pdf.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 16px;
}
@media (max-width: 640px) {
  .node--type-proekt .field--name-field-prezentaciya a::before {
    width: 40px;
    height: 40px;
  }
}

.contacts-page__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 28px;
}

.contacts-page__info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
}
@media (max-width: 640px) {
  .contacts-page__info-block {
    width: 155px;
  }
}

.contacts-page__info-block h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contacts-page__info-block img {
  max-width: 50px;
}
@media (max-width: 640px) {
  .contacts-page__info-block img {
    max-width: 40px;
  }
}

.contacts-page__job {
  margin-top: 96px;
  margin-bottom: 72px;
}
@media (max-width: 640px) {
  .contacts-page__job {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.contacts-page__map {
  max-width: 100%;
  height: auto;
  aspect-ratio: 800/600;
}

.footer {
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
  padding-top: 38px;
  padding-bottom: 38px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.footer-content__copyright {
  font-family: var(--font-family-tertiary);
}

.footer-content__social-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 640px) {
  .footer-content__social-icons {
    gap: 12px;
  }
}
@media (max-width: 1024px) {
  .footer-content__social-icons img {
    max-width: 28px;
  }
}
@media (max-width: 640px) {
  .footer-content__social-icons img {
    max-width: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
